<section class="inner">
	<h2 class="section-ttl">新規投稿</h2>
  <%= render 'form', plan: @plan, url: plans_path %>

<%= form_with model: @plan, local:true do |f| %> 
  <div class="row mt-4 pb-5">
    <div class="form-inline mx-auto">
      <%= f.submit '計画を公開', :name => 'post', class: 'mr-5 btn btn-sm btn-warning text-white' %>
      <%= f.submit '下書きに保存', :name => 'draft', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
    </div>
  </div>
<% end %>
</section>